[project]
name = "xcae"
version = "0.0.1"
license = "MIT AND (Apache-2.0 OR BSD-2-Clause)"
authors = [
  {name="Issac Pang", email="101420268+issacpang@users.noreply.github.com"},
]

description="Read finite element models from Abaqus and perform simulations with xara."
readme = "README.md"

keywords = [
  "dynamics",
  "finite-element-analysis"
]

dependencies = [
  "xara",
  "veux",
  "meshio",
  "numpy",
  "openbim"
]

classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Science/Research',
    'Intended Audience :: Developers',
    'Programming Language :: C',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3 :: Only',
    'Programming Language :: Python :: Implementation :: CPython',
    'Topic :: Software Development',
    'Topic :: Scientific/Engineering',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: POSIX',
    'Operating System :: Unix',
    'Operating System :: MacOS',
]

[project.urls]
Repository = "https://github.com/STAIRLab/xara_abaqus"
Home = "https://gallery.stairlab.io"

[project.scripts]
openbim = "xara_abaqus.__main__:main"

[build-system]
requires = [
  "setuptools >= 52.0.2",
]

build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.packages.find]
where = ["src"]

