/* 
* Overirding the toastify z index as the dropdown 
* options were rendering behind the dialog
* but that was highlighting the toastify notification.
* this z-index is a fix for the same
*/
/* */

.Toastify__toast-container{
  z-index: 1;
}

#jp-bottom-panel {
  contain: unset !important;
}

.jp-StatusBar-Widget {
  contain: unset !important;
}
