/*
 * Developed by CQ Inversiones SAS.
 * Copyright ©. 2019 - 2025. All rights reserved.
 * Desarrollado por CQ Inversiones SAS.
 * Copyright ©. 2019 - 2025. Todos los derechos reservados.
 */

ul {
    padding-left: 0;
}

li > ul {
    padding-left: 1rem;
}

li {
    list-style: none;
}

.btn-no-style {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.select {
    color: #28a745;
}

table {
    border: #b2b2b2 1px solid;
}

td, th {
    border: black 1px solid;
}

/** estilos para el menú del sidebar **/
.card-header-repository-style-one > h5 > a {
    padding: 0.75rem;
    color: #004884 !important;
    text-decoration: none;
    font-size: 1rem;
}

.card-header-repository-style-one > h5 > a.selected {
    background-color: #004884;
    color: #FFFFFF !important;
}

.card-repository-style-one, .card-header-repository-style-one, .card-body-repository-style-one {
    padding: 0;
    background: #fff;
}

.card-header-repository-style-one > h5 {
    margin-bottom: 0;
}

.card-repository-style-one {
    border-bottom: 1px solid #DFDFDF !important;
}

.render-add-btn {
    color: #fff;
    background: #17a2b8;
    border-color: #17a2b8;
    padding: .375rem .75rem !important;
    height: auto;
    width: auto;
}

.nav-repository-style-three > h6, .nav-repository-style-three > h5, .nav-repository-style-three > h4,
.nav-repository-style-three > h3, .nav-repository-style-three > h2, .nav-repository-style-three > h1 {
    color: #fff !important;
}

#circulo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: #fff;
    background: #17a2b8;
    border-color: #17a2b8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circulo > i {
    color: white;
}

/** estilos para paginación modulo notificaciones **/
.paginate-file-repository .page-item.active .page-link {
    background-color: #004884;
    border-color: #004884;
    color: #FFFFFF;
}

.paginate-file-repository .page-item .page-link {
    color: #004884;
}
