[buildout]
extensions = mr.developer
parts = 
    instance

extends =
    https://dist.plone.org/release/5.2-latest/versions.cfg
versions = versions

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
threads = 3
eggs =
    Plone
    pyruvate
wsgi-ini-template = templates/pyruvate.ini.in
